body{
    background-color: #dddddd;
}
#awal{
    height:400px;
    background: url(../latihan_8/img/wall.jpg);
    color: #fff;
    background-attachment: fixed;
}
#tulis{
    font-size: 20px;
}
#ti{
    margin-top:100px;
}
#gambar1{
    width: 100px;
    height:100px;
    margin-top: 60px;
    margin-bottom: 20px;
}
#bungkus{
    background-color: #fff;
    line-height: 30px;
}
.lead{
    font-size: 15px;
    margin-top: 20px;
}
.btn{
    margin-bottom: 50px;
    margin-top: 20px;
}
#ruw{
    margin-top: 40px;
    margin-bottom: 20px;
}
#roww{
    margin-top: 100px;
}
.hr{
    width: 100px;
    border: 1px solid black;
}
#gam img{
    width:25px;
    height:25px;
    margin-right:10px;
    margin-top:40px;
    margin-bottom:80px;
}